body {
    background-color: #69a6e7; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 10px;
}

h2 {
    color: #343a40;
    margin-bottom: 20px;
}

.move-right {
    text-align: right;
    margin-right: 10px; 
}

label {
    color: #343a40;
}

input[type="text"], input[type="email"], input[type="password"] {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}

input[type="submit"] {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0.25rem;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
